/* global */
h1,
h2,
h3,
p {
  margin: 0;
}

/* body {
  background-color: #2596be;
} */

ul,
li {
  text-decoration: none;
}

.inputan {
  text-decoration: none;
}

.back-light {
  background-color: white;
}

.back {
  background-color: #649dbe;
}

body {
  font-family: "Titillium Web", sans-serif;
}
